{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.przepis_edit'|trans({'%id%': przepis.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="container">

    <h1>Edytuj przepis</h1>
    {{ form_start(form, { method: 'PUT', action: url('przepis_edit', {id: przepis.id}) }) }}
    {{ form_widget(form) }}


        <input type="submit" value="Edytuj" class="btn btn-primary" />
    </div>

    {{ form_end(form) }}
{% endblock %}