{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.register'|trans}}
{% endblock %}

{% block body %}
    <div class="container">
    <h1>Dodaj przepis</h1>
    {{ form_start(form, { method: 'POST', action: url('przepis_new') }) }}
    {{ form_widget(form) }}


        <input type="submit" value="Dodaj" class="btn btn-primary" />


    {{ form_end(form) }}
    </div>
{% endblock %}