{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.przepis_delete'|trans({'%id%': przepis.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="container">
    {{ form_start(form, { method: 'POST', action: url('przepis_search') }) }}
    {{ form_widget(form) }}

        <input type="submit" value="Szukaj" class="btn btn-primary" />


    {{ form_end(form) }}
    </div>
{% endblock %}