{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.change_password'|trans}}
{% endblock %}

{% block body %}
    <div class="container">
    <h1>Zmień hasło</h1>
    {{ form_start(form, { method: 'PUT', action: url('change_password') }) }}
    {{ form_widget(form) }}


        <input type="submit" value="Zmień hasło" class="btn btn-primary" />
    </div>

    {{ form_end(form) }}
{% endblock %}