{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.data_edit'|trans}}
{% endblock %}

{% block body %}
    <div class="container">
    <h1>Zmień dane</h1>
    {{ form_start(form, { method: 'PUT', action: url('data_edit') }) }}
    {{ form_widget(form) }}

        <input type="submit" value="Zmień" class="btn btn-primary" />
    </div>

    {{ form_end(form) }}
{% endblock %}